@{
    var icons = @Url.Content("~/bootstrap-icons.svg");
}

<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - IAR</title>

    <script src="~/js/toggle.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        @* TODO - Minify *@
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-md bg-body-tertiary shadow">
        <div class="container-fluid">
            <a class="navbar-brand" asp-page="/Home">
                <img src="~/img/navbar colour.png" alt="Logo" class="d-inline-block align-text-center" id="navbar-logo">
                Information Asset Register</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" data-bs-toggle=".nav-item" asp-page="/Home">
                            <svg class="bi me-0"><use href="@icons#house-fill"></use></svg>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle=".nav-item" asp-page="/View">
                            <svg class="bi me-0"><use href="@icons#binoculars-fill"></use></svg>
                            View
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle=".nav-item" href="https://honeycombgrouporguk.sharepoint.com/:w:/s/BusinessIntelligence/EVyuzuFrBVtEgSbTXc-UV8cBYF94LUJNwiBj9KhIKqhjxw?e=aOGxp5">
                            <svg class="bi me-0"><use href="@icons#question-lg"></use></svg>
                            Help
                        </a>
                    </li>
                </ul>
                @* Show bootstrap breakpoints in development only*@
                <environment include="Development">            
                    <div class="navbar-text text-nowrap rounded-3 px-2 mx-2 bg-success opacity-20">
                        <div class="d-block d-sm-none">Extra Small (xs)</div>
                        <div class="d-none d-sm-block d-md-none">Small (sm)</div>
                        <div class="d-none d-md-block d-lg-none">Medium (md)</div>
                        <div class="d-none d-lg-block d-xl-none">Large (lg)</div>
                        <div class="d-none d-xl-block d-xxl-none">X-Large (xl)</div>
                        <div class="d-none d-xxl-block">XX-Large (xxl)</div>
                    </div>
                </environment>
                <svg class="bi" id="user-icon"><use xlink:href="@icons#person-fill"></use></svg>
                <p class="nav navbar-text navbar-right" id="user-name">@(User.FindFirst("DisplayName")?.Value)</p>
                <div class="vr d-none d-lg-flex h-120 mx-lg-2 text-white"></div>
                @* <div class="vr h-120 mx-2 text-white"></div> *@
                <div class="nav-item dropdown navbar-theme-dropdown">
                    <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center navbar-theme-button pl-2" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (dark)">
                        <svg class="bi my-1 theme-icon-active"><use href="@icons#moon-stars-fill"></use></svg>
                        <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                            <svg class="bi me-2 opacity-50 theme-icon"><use href="@icons#sun-fill"></use></svg>
                            Light
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="dark" aria-pressed="true">
                            <svg class="bi me-2 opacity-50 theme-icon"><use href="@icons#moon-stars-fill"></use></svg>
                            Dark
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
                            <svg class="bi me-2 opacity-50 theme-icon"><use href="@icons#circle-half"></use></svg>
                            Auto
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1" id="background-col-left"></div>
            <div class="col-10 offset-1">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <div class="col-1" id="background-col-right"></div>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>

    <script>
        document.querySelectorAll(".nav-link").forEach((link) => {
            if (link.href === window.location.href) {
                link.classList.add("active");
                link.setAttribute("aria-current", "page");
                console.log(window.location.href);
            }
        });
        @* console.log(window.location.href); *@
        // Add current bootstrap theme to viewdata when button with id bd-theme is clicked
        @* document.getElementById("bd-theme").addEventListener("click", function () {
            var theme = localStorage.getItem('theme');
            console.log(theme);
        }); *@
    </script>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true" defer></script>
    </environment>
    <environment exclude="Development">
        @* TODO - Minify *@
        <script src="~/js/site.js" asp-append-version="true" defer></script>
    </environment>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>