@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@* <ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{ *@
    <p class="nav navbar-text navbar-right">Hello, @User.Identity?.Name!</p>
    @* <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li> *@
@* }
else
{
    <p class="nav navbar-text navbar-right">Not Authenticated</p> *@
    @* <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity">Not Authenticated</a>
    </li> *@
@* } *@
@* </ul> *@