@model IEnumerable<IAR.Models.Note>;

<table id="note-table" class="table" data-url="@Url.Page("Edit")">
    <thead>
        <th> ID </th>
        <th> Note </th>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var item in Model) {
                    <tr>
                        <td> @item.ID </td>
                        <td> @item.NoteText </td>
                    </tr>
                }   
            }
        }
    </tbody>
</table>