@using IAR.Models;
@model ThirdParty;

@{
    var icons = @Url.Content("~/bootstrap-icons.svg");
    var tooltipIcon = @icons+"#question-circle";
}

<script src="~/lib/popper.js/umd/popper.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

<script>
    // Initialize tooltips with default options
    $(function () {
        $('[data-bs-toggle="tooltip"]').tooltip({ 
            trigger: 'focus',
            placement: 'right'
        });
    });
</script>

<div class="modal fade" id="thirdparty-modal" tabindex="-1" role="dialog" aria-labelledby="addThirdPartyLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addThirdPartyLabel">Add Third Party</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-page-handler="ThirdPartyModal" method="post" id="thirdPartyModal">
                    <input type="hidden" asp-for="AssetID"/>
                    <div class="form-group">
                        <label asp-for="ThirdPartyName" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="ThirdPartyName" class="form-control"/>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" title="Tooltip Placholder">
                                <svg class="bi"><use href=@tooltipIcon></use></svg>
                            </button>
                        </div>
                        <span asp-validation-for="ThirdPartyName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Use" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="Use" class="form-control"/>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" title="Tooltip Placholder">
                                <svg class="bi"><use href=@tooltipIcon></use></svg>
                            </button>
                        </div>
                        <span asp-validation-for="Use" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location" class="control-label"></label>
                        <div class="input-group">
                            <select asp-for="Location" class="form-select" asp-items="Html.GetEnumSelectList<LocationEnum>()"></select>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" title="Tooltip Placholder">
                                <svg class="bi"><use href=@tooltipIcon></use></svg>
                            </button>
                        </div>
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>                  
                    <div class="form-group">
                        <label asp-for="LocationDetail" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="LocationDetail" class="form-control"/>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" title="Tooltip Placholder">
                                <svg class="bi"><use href=@tooltipIcon></use></svg>
                            </button>
                        </div>
                        <span asp-validation-for="LocationDetail" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}