@page
@model UserModel
@{
    ViewData["Title"] = "User";
}
<h1>@ViewData["Title"]</h1>

@* // List AD Roles *@
@if (Model.Roles.Count > 0) {
    <p>Total Roles: @Model.Roles.Count</p>
    @foreach (var role in Model.Roles) {
        <div><ul><li>@role</li></ul></div>
    }
}