@page
@model UserModel
@{
    ViewData["Title"] = "User";
}
<h1>@ViewData["Title"]</h1>

Total Roles: @Model.Roles.Count
@* // Show list of roles *@
@if (Model.Roles.Count > 0) {
    @foreach (var role in Model.Roles) {
        <div><ul><li>@role</li></ul></div>
    }
}